<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=<?php echo $cfg_soft_lang;?>" />
<title>搜索结果 - <?php echo $cfg_ask_sitename;?></title>
<link href="static/style/service.css" rel="stylesheet" type="text/css" media="screen" />
</head>
<body>
<div id="wrap">
  <?php include(DEDEASK."/templates/default/header.htm"); ?>
  <div class="subnav"><span class="fl place"><?php echo $nav?></span></div>
  <div id="main">
    <div class="fl col1 mt10">
      <div class="classes">
        <div class="classes_top">
          <span class="fl"><?php echo $toptypeinfo;?></span>
        </div>
        <div class="classes_bottom"></div>
      </div>
      <div class="list_box">
        <div class="list_show">
          <table width="100%">
            <thead>
              <tr>
                <td>标题</td>
                <td>悬赏</td>
                <td>状态</td>
                <td>回复数</td>
                <td>时间</td>
              </tr>
            </thead>
            <tbody>
            <?php
            foreach($searchs as $search){
            if($search['status'] == 1) $search['status'] = 'qa_ico_2.jpg';
            else if($search['status'] == 2) $search['status'] = 'qa_ico_2.jpg';
            else if($search['status'] == 3) $search['status'] = 'qa_ico_2.jpg';
            else $search['status'] = 'qa_ico_1.gif';
            $search['dateline'] = MyDate('Y-m-d',$search['dateline']);
            $search['title'] = cn_substr($search['title'],90);
            if($search['tid2'] != 0)
            {
            	if($cfg_ask_rewrite == 'Y')$search['typedata'] = "<a href='t{$search['tid2']}'>[{$search['tid2name']}]</a>";
                else $search['typedata'] = "<a href='?ct=browser&tid2={$search['tid2']}'>[{$search['tid2name']}]</a>";
            }else{
            	if($cfg_ask_rewrite == 'Y')$search['typedata'] = "<a href='{$search['tid']}'>[{$search['tidname']}]</a>";
                else $search['typedata'] = "<a href='?ct=browser&tid={$search['tid']}'>[{$search['tidname']}]</a>";
            }
            ?>
              <tr>
                <td class="pl15" width="440"><a href="<?php echo $search['qurl'];?>"><?php echo $search['title'];?>...</a><?php echo $search['typedata'];?></td>
                <td><?php echo $search['reward']?></td>
                <td><img src="static/images/<?php echo $search['status'];?>" height="19" width="44" /></td>
                <td><?php echo $search['replies'];?></td>
                <td><?php echo $search['dateline'];?></td>
              </tr>
            <?php }?>
            </tbody>
          </table>
          <?php echo $multipage;?>
        </div>
    </div>
    </div>
    <div class="fr col2">
      <div class="bor1 rank bg1 mt10">
        <h3>总积分排行</h3>
        <ul>
          <?php
             if($memberlists != ""){
                foreach($memberlists as $key => $v)
                {
             ?>
          <li><a href="?ct=myask&ac=view&mid=<?php echo $v['mid'];?>" target="_blank"><?php echo $v['userid'];?></a><span class="ico5"><?php echo $v['scores'];?></span></li>
          <?php }}?>
        </ul>
      </div>
    </div>
  </div><!--main end-->
  <?php include(DEDEASK."/templates/default/footer.htm"); ?>
</div>
</body>
</html>
